.idea
db-data
backend/onest-donor-service/node_modules
backend/onest-donor-service/package-lock.json
backend/mock-donor-service/node_modules
backend/donor-service/.env
donor-registry/node_modules
donor-registry/src/app/.DS_Store
donor-registry/src/assets/.DS_Store
.DS_Store
*.lock
.env
gateway/onest-ui/node_modules