@import '~bootstrap/scss/bootstrap';

.bg-onest-theme-color{
    background-color: #0F75BC!important;
}

.MuiButton-containedPrimary{
    // color: rgb(238, 43, 43) !important;
    background-color: #0F75BC !important;
    border-color: #0F75BC !important;
}

.css-o69gx8-MuiCardMedia-root {
    z-index: 0;
}

.css-1l7c0cy {
    z-index: 0;
}

.css-16cvb1l-MuiCardMedia-root{
    z-index:0
}

.css-ohwg9z{
    z-index: 0
}